
<div class="row" >
  <div class="col s12 m6">
      <div class="card z-depth-2">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator  responsive-img" src="../../../assets/images/cuarto.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Room<i class="material-icons right">airline_seat_individual_suite</i></span>
            <p><a routerLink="/room">Go to Room dashboard</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Room<i class="material-icons right">close</i></span>
            <table>
              <tbody>
                <tr>
                  <td>Ligth 1</td>
                  <td>
                      <span class="switch">
                          <label>
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                      </span>
                  </td>
                </tr>
                <tr>
                    <td>Ligth 2</td>
                    <td>
                        <span class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                              </label>
                        </span>
                    </td>
                  </tr>
                  <tr>
                      <td>Air conditioner</td>
                      <td>
                          <span class="switch">
                              <label>
                                  <input type="checkbox">
                                  <span class="lever"></span>
                                </label>
                          </span>
                      </td>
                    </tr>
                    <tr><p class="range-field">
                        <input type="range" id="test5" min="17" max="27" />
                      </p>
                    </tr>
              </tbody>
            </table>
          </div>
      </div>
  </div>
  <div class="col s12 m6">
      <div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator  responsive-img"  src="../../../assets/images/bano.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bathroom<i class="material-icons right">hot_tub</i></span>
          <p><a routerLink="bathroom">Go to Living Room dashboard</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Bathroom<i class="material-icons right">close</i></span>
          <table>
              <tbody>
                <tr>
                  <td>Mirror's Ligth</td>
                  <td>
                      <span class="switch">
                          <label>
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td>Ligth 2</td>
                  <td>
                    <span class="switch">
                        <label>
                            <input type="checkbox">
                            <span class="lever"></span>
                          </label>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Spotlight</td>
                  <td>
                    <span class="switch">
                        <label>
                            <input type="checkbox">
                            <span class="lever"></span>
                          </label>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  </div>
</div>


<div class="row">
  <div class="col s12 m6">
      <div class="card z-depth-2">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator  responsive-img"  src="../../../assets/images/cocina.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Kitchen<i class="material-icons right">kitchen</i></span>
          <p><a routerLink="kitchen">Go to kitchen dashboard</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Kitchen<i class="material-icons right">close</i></span>
          <table>
              <tbody>
                <tr>
                  <td>Ligth 1</td>
                  <td>
                    <span class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>Ligth 2</td>
                  <td>
                      <span class="switch">
                          <label>
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td>Fridge</td>
                  <td>
                      <span class="switch scale-transition">
                          <label>
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td>Microwave</td>
                  <td>
                      <span class="switch scale-transition">
                          <label>
                              <input type="checkbox">
                              <span class="lever"></span>
                            </label>
                      </span>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
  </div>
  <div class="col s12 m6">
      <div class="card z-depth-2">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator  responsive-img" src="../../../assets/images/sala.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Living Room<i class="material-icons right">event_seat</i></span>
            <p><a routerLink="livingRoom">Go to Living Room dashboard</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Living Room<i class="material-icons right">close</i></span>
            <table>
                <tbody>
                  <tr>
                    <td>Ligth 1</td>
                    <td>
                        <span class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                              </label>
                        </span>
                    </td>
                  </tr>
                  <tr>
                      <td>Ligth 2</td>
                      <td>
                          <span class="switch">
                              <label>
                                  <input type="checkbox">
                                  <span class="lever"></span>
                                </label>
                          </span>
                      </td>
                    </tr>
                    <tr>
                        <td>Air conditioner</td>
                        <td>
                            <span class="switch scale-transition">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                  </label>
                            </span>
                        </td>
                      </tr>
                      <tr><p class="range-field">
                          <input type="range" id="test5" min="17" max="27" />
                        </p>
                      </tr>
                      <tr>
                          <td>TV</td>
                          <td>
                              <span class="switch">
                                  <label>
                                      <input type="checkbox">
                                      <span class="lever"></span>
                                    </label>
                              </span>
                          </td>
                        </tr>
                </tbody>
              </table>
          </div>
        </div>
  </div>
</div>