<nav>
    <div class="nav-wrapper blue darken-1 z-depth-3">
      <a routerLink="" class="brand-logo center flow-text tituloss">
        HOMEmake
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <!-- <li><a routerLink="/">Home</a></li> -->
      </ul>
    </div>
  </nav>
<div class="container" [@routerTransition]="getState(o)">
    <router-outlet #o="outlet"></router-outlet>
</div>