<div class="row card z-depth-3 indigo lighten-5">
  <div class="col s12 m6">
    <h4>Light 1</h4><br>
    <div id="imagenes1">
        <img  src="../../../assets/images/apagado.png" alt="" id="Apagado-img">
    </div>
    <a id="Encender" class="waves-effect waves-light btn" (click)="encender()">Encender</a>
    <a id="Apagar" class="waves-effect waves-light btn" (click)="apagar()">Apagar</a>
  </div>
  <div class="col s12 m6">
    <h4>Light 2</h4><br>
    <div id="imagenes2">
        <img  src="../../../assets/images/apagado.png" alt="" id="Apagado-img">
    </div>
    <a id="Encender" class="waves-effect waves-light btn" (click)="encender2()">Encender</a>
    <a id="Apagar" class="waves-effect waves-light btn" (click)="apagar2()">Apagar</a>
  </div>
  <div class="col s12">
      <h4>Air Conditioner</h4><br>
      <div id="imagenes3">
          <img  src="../../../assets/images/apagadoclima.png" alt="" id="Apagado-img">
      </div>
      <a id="Encender" class="waves-effect waves-light btn" (click)="encender3()">Encender</a>
      <a id="Apagar" class="waves-effect waves-light btn" (click)="apagar3()">Apagar</a>
      <br><br>
    </div>
</div>